{{ define "main" }}
<main id="homepage">
    <div class="main">
        <br/>
        <br/>
        <h2 style="text-align:center">
            La communauté des talents de la data de l'Etat
        </h2>
        <br/>
       <hr noshade>
        <h6>
            <div style="text-align:center">
                <span  style="color:rgba(7, 9, 151, 0.678); background-color:rgba(240, 240, 255, 0.8);">Nos valeurs : « Partage, Ouverture, Curiosité »</span></CENTER>
            </div>
        </h6>
        <hr>
        <br/>


        <div style="text-align:center">
        <ul class="fr-btns-group--center fr-btns-group--inline-sm">
            <li>
            <a href="https://10pourcent.etalab.studio/contact/"  style="text-decoration:none;">
                <button class="fr-btn">
                    Rejoindre la communauté
                </button>
            </a>
            </li>
        </ul>
        </div>

        <br/>
        <h6 class="legend">
            Le programme 10% est une collaboration qui vise à encourager le travail entre pairs en permettant aux experts de la donnée de la sphère publique de consacrer 10% de leur temps de travail à des projets d’intérêt partagé à l’échelle interministérielle.
        </h6>
        
        <h3> 💪 Le programme 10%</h3>

        <p>Le programme 10% est une collaboration entre data scientists sur des projets autour de la data et IA répondant à 3 critères :</p>
        <ul>
            <li>Projet d'intérêt commun entre les ministères ;</li>
            <li>Répondant à un besoin immédiat et concret ;</li>
            <li>Permettant une accessibilité aux données et au code source par d'autres agents publics.</li>
        </ul>
    <p>Le programme 10% est basé sur <i>le volontariat</i>. Vous venez quand vous pouvez ! Concrétement, la participation représente deux après-midi par mois (en présentiel ou en distanciel) et des moments de partage entre les équipes entre ces ateliers.</p>


        <h3>🎯 Les objectifs du programme 10%</h3>
        <ol>
            <li>Permettre aux experts publics de la donnée d'intégrer une communauté d'échanges de pratiques afin de monter en compétences;</li>
            <li>Travailler collectivement sur des projets d'intérêt commun.</li>
        </ol>


        <h3>🧐 Profils recherchés</h3>

    <p>Le programme porte sur des projets interministériels autour de la data et l'IA. Nous recherchons donc des personnes avec des compétences dans ce domaine que vous soyez : <em>data engineer, data scientist, statisticien, développeur, data analyst, etc.</em></p>

    <p>Seuls critères pour intégrer la saison 2 du programme 10% : l'envie de contribuer à des projets d'intérêt général, l'envie d'échanger avec ses pairs pour apprendre !</p>


        <div class="fr-card fr-card--horizontal">
            <div class="fr-card__body">
                <h4 class="fr-card__lead" style="margin-top: 20px;">
                    <a href="./projets/" class="fr-card__link">
                        Les projets
                    </a>
                </h4>
                <div class="fr-highlight">
                    <p class="fr-card__desc">
                        L'édition 2022 du programme 10% a proposé quatre projets à visée open-source aux experts publics de la donnée qui souhaitent collaborer sur des problématiques transverses aux services de l'Etat.</p>
                </div>
                <p class="fr-card__detail">

                    <a href="./projets/" class="fr-btn fr-fi-arrow-right-line fr-btn--icon-right">
                        Découvrir les projets
                    </a>
                    </p>
            </div>
            <div class="fr-card__img no-pointer">
                <img style="height: 350px; width: 550px;" src="{{ .Site.BaseURL }}/img/croped10pourcent.png" title="Projets" alt="Illustration 10%" aria-hidden="true" role="presentation">
            </div>
        </div>



        <div class="partenaires fr-px-3w">
            <h2 class="fr-pt-3w fr-ml-0 fr-mt-0">
                Les porteurs du programme
            </h2>
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                <div class="fr-col-6 fr-col-lg-3">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__img">
                            <img src="{{ .Site.BaseURL }}/partenaires/dinum.svg" class="fr-responsive-img" alt="Logo DINUM" title="DINUM" style="max-width: 80px;">
                        </div>
                        <div class="fr-tile__body">
                            <h4 class="fr-tile__title">
                                <a class="fr-tile__link" href="https://www.numerique.gouv.fr/dinum/">Direction Interministérielle du Numérique</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="fr-col-6 fr-col-lg-3">
                    <div class="fr-tile fr-enlarge-link">
                        <div class="fr-tile__img">
                            <img src="{{ .Site.BaseURL }}/partenaires/insee.png" class="fr-responsive-img" alt="Logo INSEE" title="INSEE">
                        </div>
                        <div class="fr-tile__body">
                            <h4 class="fr-tile__title">
                                <a class="fr-tile__link" href="https://www.insee.fr/fr/accueil">INSEE</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
    </div>
</main>
{{ end }}
